<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        form {
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);

        }

        input {
            display: block;
            margin: 15px;
            border: none;
            background-color: #f74a4a;
            width: 450px;
            height: 40px;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            font-size: 35px;
        }
    </style>
</head>
<body>
    <form action="login" method="post">
        <img src="img/logo1.png" style="height: 150px;">
        <input type="text" name="name" placeholder=" username">
        <input type="password" name="password" placeholder=" password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>